* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.content img {
  margin-right: 40px;
}

.intro{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.writingintro h1{
  font-size: 80px;
  margin-bottom: 5px;
}

.writingintro p {
  font-size: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

#githubbutton {
  width: 23%;
  display: flex;  
  align-items: center;
  justify-content: space-between;
  background-color:#4384D1;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}

#githubbutton p {
  margin-left: 10px;
  font-size: 15px;
}

#githubbutton img {
  margin-right: 10px;
  width: 25px;
}

#linkedinbutton {
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4384D1;
  border: 1px solid #4384D1;
  margin-left: 20px;
  padding: 10px;
  border-radius: 3px;
}

#linkedinbutton p {
    margin-left: 10px;
    font-size: 15px;
}

#linkedinbutton img {
  margin-right: 10px;
  width: 25px;
}


#personalimage {
  width: 450px;
}